.featured-products {
  margin-top: 2em;
}

.featured-list {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  place-items: center;
  /* display: flex;
    flex-wrap: wrap; */
}

.featured-card {
  padding: 1em;
  border: 2px solid #318811;
  border-radius: 4px;
  display: flex;
}

.featured-card .featured-card-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.featured-card .featured-card-details .price {
  color: #318811;
  font-weight: bold;
}

@media only screen and (max-width: 900px) {
}

@media only screen and (max-width: 700px) {
  .featured-list {
    justify-content: center;
    box-sizing: border-box;
  }

  .featured-card {
    width: 80%;
    max-width: none;
    flex-wrap: wrap;
    justify-content: center;
  }
}
