footer {
  background-color: #73bd24;
}

.footer {
  max-width: 1300px;
  padding: 0.75em;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
}

.footer nav ul {
  display: flex;
  gap: 1em;
}

.footer nav ul li {
  border-right: 1px black solid;
  padding-right: 0.75em;
}

.footer nav ul li:last-child {
  border-right: none;
}

@media only screen and (max-width: 900px) {
}

@media only screen and (max-width: 700px) {
  .footer {
    font-size: 0.9rem;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
  }

  .footer nav ul li {
    border-right: none;
    padding-right: 0.75em;
    text-align: center;
  }
}
