.navbar-container {
  background-color: #73bd24;
}

.navbar {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.navbar-nav {
  display: flex;
  gap: 1em;
}

.sidebar-toogle {
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
}
@media only screen and (max-width: 700px) {
  .sidebar-toogle {
    display: block;
  }

  .navbar-nav {
    display: none;
  }
}
