.sidebar {
  min-width: 250px;
  position: relative;
}

.sidebar-body {
  padding-top: 1em;
  background-color: #00b32e;
  color: white;
}

.sidebar-toggle {
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
}

.sidebar-form {
  padding: 1em;
}

.input-group {
  margin-top: 1em;
}

.input-group input {
  padding: 0.35em;
  width: 100%;
  box-sizing: border-box;
  color: black;
}

.input-group label {
  display: block;
  padding: 0 0.25em 0.25em 0;
  font-size: 0.9rem;
}

.sidebar-nav .sidebar-nav-header {
  margin-top: 2em;
  padding: 0.25em;
  width: 100%;
  background-color: #fcd34f;
  color: red;
  box-sizing: border-box;
}

.sidebar-nav .sidebar-nav-header h3 {
  margin: 0px;
  padding: 0.75em;
}

.sidebar-navbar-nav {
  display: none;
  padding: 1em;
  padding-bottom: 0;
}

.sidebar-navbar-nav li {
  margin-bottom: 1em;
  font-size: 1.1rem;
}

.sidebar-navbar-nav li a {
  color: white;
}
.sidebar-navbar-nav li a:hover {
  color: #e0f508;
}

.sidebar-nav ul {
  padding: 0px;
}

.sidebar-nav ul li {
  padding: 1em;
  border-bottom: 2px dotted white;
}

.sidebar-nav ul li:last-child {
  border-bottom: none;
}

.sidebar-nav ul li a {
  color: white;
}

.sidebar-nav ul li a:hover {
  color: yellow;
}

.sidebar-add {
  padding: 0.75em;
  background-color: #356602;
  color: white;
  text-align: center;
}

.sidebar-add img {
  width: 100%;
}

.enlarge-text {
  font-size: 2.5rem;
}

@media only screen and (max-width: 900px) {
}

@media only screen and (max-width: 700px) {
  .sidebar-toggle {
    display: block;
  }

  .sidebar-navbar-nav {
    display: block;
  }

  .sidebar {
    min-width: 300px;
    position: fixed;
    left: -100%;
    top: 0px;
    transition: left 0.5s;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  .sidebar-body {
    flex: 1;
  }

  .sidebar-add {
    display: none;
  }
}

.open {
  left: 0%;
}
