.flowers-slider {
  margin-top: 2em;
  position: relative;
}

.flowers-slider img {
  width: 100%;
  object-fit: cover;
  max-height: 300px;
  width: 100%;
}

.flowers-slider__track {
  padding: 0px;
  display: flex;
  list-style: none;
  overflow-x: hidden;
  width: 100%;
  scroll-behavior: smooth;
}

.slider-arrow__left,
.slider-arrow__right {
  position: absolute;
  z-index: 999;
  height: 36px;
  width: 36px;
  background-color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.slider-arrow__left {
  left: 15px;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
}

.slider-arrow__right {
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.flower-image {
  width: 100%;
}
