@import url("navbar.css");
@import url("sidebar.css");
@import url("featured.css");
@import url("footer.css");
@import url("slider.css");

html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #e0f508;
}

ul {
  list-style: none;
}

main {
  flex: 1;
  display: flex;
  padding: 1em;
  gap: 1em;
  max-width: 1300px;
  margin: 0 auto;
}

header h1 {
  color: #098407;
}

section h2 {
  color: #098407;
}

.advertisement {
  display: none;
  margin: 1em auto;
  width: 100%;
  background-color: #356602;
  padding: 1em;
  color: white;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.advertisement div {
  flex: 1;
  text-align: center;
  box-sizing: border-box;
}

@media only screen and (max-width: 900px) {
  html,
  body {
    font-size: 14px;
  }
}

@media only screen and (max-width: 700px) {
  html,
  body {
    font-size: 14px;
  }

  main {
    padding: 0.5em;
  }

  .advertisement {
    display: flex;
  }
}
